.search-market {
  padding: 1rem;
  .input-box {
    display: flex;
    align-items: center;
    .input-width {
      width: 100%;
    }
  }
  .searched-list {
    padding: 2rem 0;
    .row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid rgba(211, 224, 230, 0.484);
      border-radius: 0.3rem;
      padding: 0.8rem 0.5rem;
      cursor: pointer;
      gap: 0.5rem;
    }
    .row:hover {
      background-color: rgba(211, 224, 230, 0.484);
    }
    .coin-info {
      display: flex;
      align-items: center;
      gap: 0 0.5rem;
    }
    .rank {
      margin: 0 0.5rem;
      padding: 0.4rem;
      background-color: rgba(128, 138, 157, 1);
      border-radius: 0.5rem;
    }
  }
}
