.trending-coins {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  .coin-info {
    margin-top: 0.5rem;

    .coin-details {
      display: flex;
      justify-content: space-between;
      .name {
        display: flex;
        align-items: center;
        .coin-logo {
          width: 1.2rem;
          height: 1.2rem;
          margin: 0 0.2rem;
          border-radius: 50%;
          box-shadow: 0 2px 2px rgba(50, 50, 50, 0.1);
        }
      }
    }
  }
}
