/*
* Colors.scss
*
* This file defines the global color variables
*/

$primary-color: rgba(15, 22, 41, 1);
$accent-color: #4f46e5;
$light-grey-color: #fafafa;
$gray-color: #dddddd;
$light-color: #ffffff;
$border-color: #ececec;
$text-color: #3a3a3a;
$success-color: #18a803;
$error-color: #d32f2f;
$text-opacity77: #3a3a3ac4;
$text-opacity55: 8c;
$text-opacity33: 54;
$text-opacity15: 26;
$text-opacity10: 1a;
$text-opacity05: 0d;
